body{
    column-gap: no;
    background-color: black;
}

#leftup{
    width: 150px;
    height: 150px;
    border:  black;    
    border-radius: 200px 0 0 0;
    background-color: red;    
    position: absolute;
    left: 158px;
    top: 8px;
}
#rightup{
    width: 150px;
    height: 150px;
    border: black;    
    border-radius: 0 200px 0 0 ;
    background-color: yellow; 
    position: absolute;
    left: 310px;
    top: 8px;
}

#rightdown{
    width: 150px;
    height: 150px;
    border: black;
    border-radius: 0 0 200px 0 ;
    background-color: green;
    position: absolute;
    left: 310px;
    top: 160px;
}

#leftdown{
    width: 150px;
    height: 150px;
    border: black;
    border-radius: 0 0 0 200px;    
    background-color: blue;
    position: absolute;
    left: 158px;
    top: 160px;
}

